a:not(.course_name){
    text-decoration: none !important;
}
ul:not(.popover_content_benefit){
    list-style: none;
}
.card a{
    color: black;
}
.container{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.container-fluid{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
/*clock*/
.clock_nguoc{
	text-align: center;
	background: #007791;
	color: #fff;

}
.delete_time{
	cursor: pointer;
}
/*header*/
.menu_main {
    position: absolute;
    top: 23px;
    width: 75%;
}

.menu_main >li>a {
    color: #505763;
}

.search_content i {
    padding: 14px;
    color: #df322f;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.search_content i:hover{
    background: #df322f;
    color: white ;
}

.search_content {
    background: #f2f3f5;
    padding: 9px;
    position: relative;
}

.search_content input {
    border: none;
    outline: none;
    background: transparent;
}

.action-button{
	color: #fff !important;
    background-color: #ec5252 !important;
    border: 1px solid transparent;
    padding: 10px 15px;
}
.action-button:hover{
	background-color:#992337 !important;
}
.log_in {
    padding: 10px 15px;
    color: #686f7a !important;
    background-color: #fff;
    border: 1px solid #686f7a;
}
.log_in:hover{
    background: #fff;
    border: 1px solid #686f7a;
}
   

/*background*/
.background_udm{
	background-image: url('../img/background_udm.png');
	height: 500px;
	
	background-size: cover;

}

.udemy-works-container{
	background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
	display: block;
}
.card_udemy-works{
	display: inherit;
	padding: 20px 0px;
	color: white;
}
.card_udemy-works img{
	margin-right: 15px;
}
.udemy-works_text b{
	font-size: 17px;
    color: #fff;
}

.background_text h3 {
    color: white;
    font-size: 40px;
    
}

.background_text {
    position: absolute;
    left: 10%;
    padding-top: 11%;
    width: 40%;
}

.background_text p {
    color: white;
    font-size: 18px;
}
.search_course {
    background: white;
    max-width: 90%;
    padding: 11px 17px;
    font-size: 20px;
    border-radius: 2px;
    position: relative;
}

.search_course input {
    border: none;
    outline: none;
    width: 90%;
}
.search_course span {
   
    height: 54px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ec5252;

}
.search_course span:hover{
    color: white;
    background: #ec5252;
}

/*slide cart*/
.cart {
    width: 228px;
    padding-left: 12px;
}

.card {
   
    height: 290px;
}


.teacher span {
    font-size: 13px;
    color: #9b9b9b;
    font-weight: 400;
}
.card-body{
	position: relative;
} 
.card-title{
    height: 40px;
}
.card-img-top{
    height: 135px;
}
.cost {
    position: absolute;
    bottom: 13px;
   }

.price{
	float: right !important;
}
.price span {
    
    color: black;
    font-weight: 500;
  
}

.price strike {
    color: #9b9b9b;
    font-size: 12px;
}
.row.sale_bottom {
    display: flex;
    justify-content: space-around;
  
}

.sale_price {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    font-size: 10px;
    font-weight: 900;
    text-align: center;
   /* font-family: Lato;*/
    background: #f4c150;
    color: #29303b;
    top: 10px;
   
    padding: 1px 15px;
}
.sale_price:after{
    content: '';
    position: absolute;
    background: #f4c150;
    height: 12px;
    width: 13px;
    transform: rotate(45deg);
    right: -6px;
    top: 2px;
   
}
/*course filter*/
.course_filter{
    
    height: 380px;
    margin: 40px auto;
    display: flex;
    width: 1120px;
    justify-content: space-between;
    
}
.course_left_filter {
    background: #f7f8fa;
    height: 100%;
    padding: 130px 18px;
    width: 457px;
}

.course_right_filter{
    height: 100%;
    width: 692px;
   
}

ul.filter_content {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 35px;
    margin-left: 15px;
}



ul.filter_content li {
    line-height: 50px;
    display: inline-block;
}
.active_filter{
    border-bottom: 4px solid #007791;
}
ul.filter_content li>a{
    color: #14171c;
    padding: 0px 5px;
    text-decoration: none;
}
/**/
/*slide card */

a#prev {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: -28px;
    box-shadow: 1px 1px 2px 2px #bbb;
    color: #007791;
    font-size: 20px;
    visibility: hidden;
    opacity: 1;

}
a#next {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    right: -28px;
    box-shadow: 1px 1px 2px 2px #bbb;
    color: #007791;
    font-size: 20px;
    opacity: 1;
}
a#prev:hover,a#next:hover{
     box-shadow: 1px 1px 6px 2px #bbb;
}

/*star*/
.checked_star{
    color: orange;
}



/*login*/
.form-group.fix_fg{

    border: 1px solid #ddd;
    display: inline-flex;
    padding: 10px 14px;
    width: 100%;
}
.form-group.fix_fg input {
    outline: none;
    border: none;
}
.form-group.fix_fg span {
    padding: 1px 9px 0px 0px;
}
/**/
/* model message*/
.btn_ok {
    background: #ff00de;
    text-align: center;
    padding: 10px;
    cursor:pointer;
    width: 50%;
    margin: auto;
}
.bt_content {
    width: 560px;
    background: white;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -300px;
    z-index:2;
    opacity:0;
    visibility:hidden;
    transition:0.4s;
    transform:scale(0.3);
    padding : 20px;
    
}
.bt_content.hienra {
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}

.background_fade {
    background: #f1ebeb7d;
    width: 100%;
    height: 700px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}
.background_fade.mo {
    opacity: 1;
    visibility: visible;
}
.form_message input{
    cursor: pointer;
}
.tags label {
    background: #5cb85c;
    color: #fff;
    padding: 10px 15px;
    font-size: 10px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}

.tags label:after {
    content: 'x';
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}
.form_message{
    padding: 15px;
}
#check1:checked ~ .tags label[for="check1"] { display: inline; }
#check2:checked ~ .tags label[for="check2"] { display: inline; }
#check3:checked ~ .tags label[for="check3"] { display: inline; }

/**/

/*part 2*/
* {
  box-sizing: border-box;
}
/*------------------------ Recommendation ------------------------*/
.recommendation {
  background: #29303b;
  border-top: 0.5rem solid;
  border-image-source: linear-gradient(to left,#EC5252,#6E1A52);
  border-image-slice: 1;
}
.recommendation-info {
}
.text-middle {
  justify-content: space-evenly;
  align-items: center;
}
.rec-icon {
  font-size: 2rem;
}

/*------------------------ Categories ------------------------*/
.categories-content {
  box-shadow: 0px 0.5px 1px 0.5px rgba(0,0,0,0.15);
  padding: 0.3rem 0.7rem;
  transition: all 0.3s ease-in-out;
}
.categories-content:hover {
  box-shadow: 0px 0.5px 6px 3px rgba(0,0,0,0.15);
}
.categories-link {
  color: #000;
}
.categories-link:hover {
  text-decoration: none;
  color: #000 !important;
}
.categories-icon {
  font-size: 1.5rem;
}
.categories-text {
  overflow: hidden;
  line-height: 32px;
  height: 32px;
  min-width: 1px;
}

/*------------------------ Reviews ------------------------*/

/* end of carousel */
.reviews {
  background: #f7f8fa;
  border-bottom: 1px solid #dedfe0;
  
}

.partners-text {
  font-size: 0.9rem;
}
.partners-logo {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}
.logo-item {
  margin-top: 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.non-student-cta-text {
  padding: 1rem 2.3rem;
  
}


/*------------------------ Footer ------------------------*/
.footer {
  border-bottom: 0.4rem solid #ec5252;
}
li:not(.popover_content_benefit li) {
  list-style: none;  
}
li.footer-link {
    list-style: none;
}
.links {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  line-break: 1.2rem;
}
.footer-link {
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}
.link-text {
  color: #007791;
}
.link-text:hover {
  color: #003845;
  text-decoration: none;
}
.selectpicker {
  width: 7rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #686f7a;
  cursor: pointer;
  margin-bottom: 0.4rem;
}
.selectpicker:hover {
  color: #000;
}
.footer-copyright {
  color: #686f7a;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
.list-inline {
  font-size: 0.9rem;
  display: inline-flex;
}
.box-container {
  border-top: 1px solid #dedfe0;
}


/*effect*/
.menu_dropdown:hover >a{
    background: #f4f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.menu_dropdown_content>li a{
    color: #29303b;
}
.menu_dropdown {
    position: relative;
}

.menu_dropdown_content {
    position: absolute;
    width: 270px;
    background: white;
    box-shadow: 0px 0px 1px 1px #ddd;
    padding: 14px 0px;
    z-index: 10;
    top: 63px;
    display: none;
}
.menu_dropdown_content li {
    padding: 7px 0px;
    cursor: pointer;
}

ul.menu_dropdown_content:before {
    content: '';
    position: absolute;
    
    height: 22px;
    background: white;
    width: 22px;
    transform: rotate(45deg);
    top: -12px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    left: 22px;
}
.menu_dropdown_content li a .fa-angle-right {
    float: right;
    padding: 5px 16px;
}
.menu_dropdown_content>li a{
    padding: 18px;
}
.menu_dropdown_content>li:hover >a{
    
    color: #007791;
}

.menu_dropdown_content li a i{ 
    color: #a1a7b3;
}
.menu_dropdown_content>li:hover{
    background: #f2f3f5;
}

/*dropdown child*/
li.menu_dropdown_content_child {
    position: relative;
}

ul.menu_dropdown_content_child_content {
    width: 270px;
    position: absolute;
    background: #f7f8fa;
    right: -269px;
    top: 0;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
    height: 280px;
    display: none;
}
ul.menu_dropdown_content_child_content >li:hover 
{
    background: #f2f3f5;
}
ul.menu_dropdown_content_child_content >li:hover >a
{
     color: #007791;
}
.menu_dropdown_content_child_content li a .fa-angle-right {
    float: right;
    padding: 5px 16px;
}
.menu_dropdown_content_child:hover .menu_dropdown_content_child_content{
    display: block;
}
/*dropdown child child*/
li.menu_dropdown_content_child_child {
    position: relative;
}

ul.menu_dropdown_content_child_child_content {
    width: 270px;
    position: absolute;
    background: #f7f8fa;
    right: -269px;
    top: 0;
    padding: 0;
    box-shadow: 0px 0px 3px 1px #ddd;
    height: 280px;
    display: none;
}
ul.menu_dropdown_content_child_child_content >li:hover 
{
    background: #f2f3f5;
}
ul.menu_dropdown_content_child_child_content >li:hover >a
{
     color: #007791;
}

.menu_dropdown_content_child_child:hover .menu_dropdown_content_child_child_content{
    display: block;
}
/**/

.menu_dropdown:hover .menu_dropdown_content{
    display: block;
}

.menu_dropdown_2 {
    position: relative;
}

.menu_dropdown_2_content {
    position: absolute;
    background: white;
    width: 330px;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    right: 0;
    top: 63px;
    box-shadow: 0px 0px 1px 1px #ddd;
    display: none;
}
.menu_dropdown_2_content:after {
    content: '';
    background: white;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -13px;
    right: 25px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transform: rotate(45deg);
}
.menu_dropdown_2:hover >a{
    background: #f4f5f5;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.menu_dropdown_2:hover .menu_dropdown_2_content{
    display: block;
}
.menu_dropdown_2.menu_shoping_cart>a {
    border-radius: 50% !important;
    background: white;
}
.menu_shoping_cart {
    right: -30px;
    top: -6px;
    
}

.menu_shoping_cart:after {
    content: '';
    top: 4px;
    background: #ddd;
    height: 44px;
    width: 1px;
    left: -10px;
    position: absolute;
}

.option_language {
    border: 1px solid;
    width: 60%;
}

select.selectpicker {
    border: none;
    outline: none;
}

/*popover*/

.popover{
    max-width: 330px !important;
    border-radius: 0px !important;
}
.popover-body {
    width: 330px;
    background: white;
    padding: 15px;
    padding-bottom: 25px;
    border-right: 1px solid #ddd;
}

.popover_sale_price {
   
    font-size: 10px;
    font-weight: 900;
    background: #f4c150;
    color: #29303b;
    border-radius: 4px;
    padding: 1px 14px;

    display: inline-block;
    position: relative;
}
.popover_sale_price:after {
    content: '';
    background: #f4c150;
    width: 12px;
    height: 12px;
    position: absolute;
    transform: rotate(45deg);
    right: -5px;
    top: 2px;
}
.popover_sell span {
    font-size: 13px;
    margin-left: 10px;
}
.popover_time span {
    font-size: 14px;
    margin-right: 10px;
}
.course_name{
    color: black;
    font-size: 20px;
    font-weight: 600;

}
.course_name:hover{
    color:black;
    text-decoration: underline;
}
ul.popover_content_benefit {
    padding-left: 18px;

}

ul.popover_content_benefit li {
    font-size: 14px;
    color: #a09c9c;
    padding-bottom:8px;
}
a.btn_add_to_cart {
    background: #ec5252;
    padding: 15px 80px;
    color: white;
    font-weight: 500;
}
.add_to_cart i {
    color: #ec5252;
    font-size: 30px;
    margin-left: 15px;
}
.account_login{
    padding:10px 2px;
}

/*reponsive*/
@media screen and (max-width: 1344px) {
    
    .menu_main .search_menu{
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}
@media screen and (max-width: 1252px) {
    .menu_shoping_cart{
        right: -10px;
    }
    
}
@media screen and (max-width: 1222px) {
    .search_menu{
        width: 32% !important;
    }
    .menu_main .search_menu{
        margin-right: 2rem !important;
        margin-left: 2rem !important;
    }
}
@media screen and (max-width: 1168px){
    .menu_main .search_menu{

        max-width: 60% !important;
        margin-right: 2rem !important;
        margin-left: 3rem !important;
    }
    .menu_dropdown_2:not(.menu_shoping_cart){
        display: none;
    }
    
}
@media screen and (max-width: 790px){
    .menu_shoping_cart {
    right: 5px;
    }  
    .background_text h3{
        font-size: 30px;

    }
    .background_text p{
        font-size: 15px;
    }
    .background_text{
        width: 70%;
        
    }
    .search_course input{
        font-size: 18px;
    }
    
}

.course_right_filter .col-sm-4{
    max-width: 32% !important;
}

/*toggle menu*/

.toggle_menu {
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.toggle_menu_content {
    position: absolute;
    background: white;
    z-index: 10;
    width: 270px;
    top: 0px;
    left: -276px;
    overflow-y: scroll;
    height: 100vh;
    transition: 1s;
    padding-right: 10px;
}
.toggle_menu_content li a{
    color: black;
}
.toggle_menu_content li {
    padding: 10px 12px;
}

.toggle_menu_content li >a {
    font-size: 17px;
}
.toggle_menu_content ul {
    margin-left: -24px;
    margin-right: -12px;
}
.toggle_menu_content li a i {
    float: right;
    padding-top: 12px;
}
.toggle_menu_content li:hover{
    background: #eee;
}
.toggle_menu_content li>ul>li:hover{
    background: #aaa;
}
.menu_toggle_dropdown_content{
    display: none;
}
@media screen and (max-width: 1200px) {
    .course_left_filter{
        width: 270px;
    }
    .sale_bottom .cart{
        padding-left:0px;
    }
    .option_language{
        width: 100%;
    }
    .sale_bottom{
        height: 290px;
        overflow-y: visible;
    }
}
@media screen and (max-width: 1000px) {
    .course_left_filter{
        display: none;
    }
    
}
@media screen and (max-width: 736px) {
    a#next{
        right: 30px;
    }
    a#prev{
        left: 30px;
    }
    .prev_footer,.next_footer{
        display: none;
    }
    
}

@media screen and (max-width: 766px) {
    .toggle_menu{
        display: block;
    }
}
